
__pycache__/
*.py[cod]


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/


.ipynb_checkpoints


.python-version


.mypy_cache/


.pyre/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
